.header{
    background-color: antiquewhite;
    text-align: center;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.text{
    /*background-color: aquamarine;*/
    text-align: center;
}
.grid{
    /*background-color: blueviolet;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    text-align: center;
}
.me{
    text-align: center;
}
.meme{
    /*background-color: aqua;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}